importFrom(lpSolve, lp)
importFrom(grDevices, dev.off, postscript)
importFrom(graphics, lines, plot)
importFrom(stats, complete.cases, lowess, model.frame,
             model.matrix, na.fail, na.omit, terms,
             update.formula)
importFrom(parallel, detectCores, mclapply)
importFrom(utils, read.table, setTxtProgressBar,
           txtProgressBar, packageDescription)
importFrom(pbmcapply, pbmclapply)
export(whatif)
S3method(plot, whatif)
S3method(summary, whatif)
S3method(print, whatif)
S3method(print, summary.whatif)
